/* ------------------------------Настройки по-умолчанию */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #252b42;
  background-color: #fafafa;
  font-weight: 500;
  font-family: Montserrat;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* ------------------------------Технические контейнеры */

._container {
  max-width: 1218px;
  padding: 0px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

._orange {
  color: #ff6e30;
}

.header-block {
  text-align: center;
  margin: 0px 0px 48px 0px;
}

.header-block__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 130%;
}

.header-block__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.header-block__subtitle {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #748FB5;
}

.default-icon {
  width: 48px;
  height: 48px;
}

/* ------------------------------Header */
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 550;
}

.header__container {
  display: flex;
  min-height: 100px;
  align-items: center;
}

.header__menu {
  margin: 0px 0px 0px 75px;
}

.header__logo {
  font-size: 28px;
  font-weight: 900;
  color: inherit;
}

.menu__link {
  color: #ffffff;
  line-height: 130%;
  font-weight: 600;
}

.menu__link:hover {
  color: #ff49c2;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  margin: 0px 48px 0px 0px;
}

.header__burger {
  display: none;
}

/* ------------------------------Header Adaptive */

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: absolute;
    left: 24px;
    width: 30px;
    height: 20px;
    z-index: 5;
  }
  .header__burger.active {
    position: fixed;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #252b42;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active::before {
    background-color: #fff;
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    background-color: #fff;
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    background-color: #fff;
    transform: scale(0);
  }
  .header__burger span {
    position: absolute;
    background-color: #252b42;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #252b42;
    padding: 100px 0px 0px 24px;
    z-index: 2;
    transition: all 0.3s;
    font-size: 21px;
  }
  .header__menu.active {
    top: 0;
    right: 0;
    transition: all 0.3s;
  }
  .header__logo {
    z-index: 1;
    margin: 0 auto;
    color: #252b42;
  }
  .header__logo.active {
    z-index: 10;
    color: #fff;
    background-color: #ffffff;
  }
  .menu__list {
    display: block;
  }
  .menu__item {
    padding: 0px 0px 20px 0;
  }
  .menu__link {
    color: #fff;
  }
}

@media (max-width: 796px) {
  .menu__item:not(:last-child) {
    margin: 0px 40px 0px 0px;
  }
}

/* ------------------------------Page */
.page {
  flex: 1 1 auto;
}

/* ------------------------------Main-block */
.main-block__image {
  position: static;
  width: 100%;
  top: 0;
  left: 0;
}

.main-block {
  position: relative;
}

.main-block__body {
  padding: 200px 0px 219px 0px;
  position: relative;
  z-index: 2;
  max-width: 520px;
}



.main-block__title {
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 54px;
line-height: 130%;


color: #FFFFFF;
  margin: 30px 0px 30px 0px;
}

.main-block__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
}

.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
}

.main-block__button {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 17px 32px;
width: 230px;
height: 57px;
left: 0px;
top: 234px;
margin: 30px 0px 30px 0px;

/* red */

border-radius: 10px;
}

.main-block__button:not(:last-child) {
  margin-right: 24px;
}

.main-block__button__primary {
  background: #FF4370;
  color: #ffffff;
}

.main-block__button__primary:hover {
  background: #FC4B00;
  color: #ffffff;
}

.main-block__button__secondary {
  color: #252b42;
  border: 2px solid #252b42;
}

.main-block__button__secondary::before {
  content: "\e900";
  display: block;
  font-family: "Icons";
  padding: 0px 8px 0px 0px;
}

.main-block__button__secondary:hover {
  background: #252b42;
  color: #ffffff;
}

/* ------------------------------Main-block Adaptive */

@media (max-width: 1040px) {
  .main-block__image img {
    object-position: 60% 0px;
  }
}

@media (max-width: 767px) {
  .main-block__body {
    padding-top: 130px;
  }
}

@media (max-width: 470px) {
  .main-block__title {
    font-size: 32px;
  }
}

/* ------------------------------Services */

.services__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px -15px;
}

.services__column {
  padding: 0px 15px;
  flex: 0 1 33.3333%;
}

.services__item {
  background: #fff;
  padding: 48px 40px;
  transition: all 0.3s ease;
  border: 1px solid #000;
  height: 100%;
}

.services__item >*:not(:last-child) {
  margin: 0px 0px 24px 0px;
}

.item-service__title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
}
.item-service__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  color: #000000;
}

.item-service__icon1 {
  background: url(../image/icons/Thumbup.svg);
}

.item-service__icon2 {
  background: url(../image/icons/Home.svg);
}

.item-service__icon3 {
  background: url(../image/icons/Heart.svg);
}

.services__item:hover {
  background: #8E3AE2;
  transition: all 0.3s ease;
}

.services__item:hover
.item-service__title{
  color: #fff;
  transition: all 0.3s ease;
}

.services__item:hover
.item-service__text {
  color: #fff;
  transition: all 0.3s ease;
}

.services__item:hover
.item-service__icon1 {
  background: url(../image/icons/Thumbup.svg);
  transition: all 0.3s ease;
}

.services__item:hover
.item-service__icon2 {
  background: url(../image/icons/Home.svg);
  transition: all 0.3s ease;
}

.services__item:hover
.item-service__icon3 {
  background: url(../image/icons/Heart.svg);
  transition: all 0.3s ease;
}

.page__services {
  position: relative;
  margin: -120px 0px 0px 0px;
  z-index: 2;
}


.header-block {
  text-align: center;
  

}

.header-block >*:not(:last-child) {

  margin: 0px 0px 25px 0px;
}

.header-block__title {
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 130%;
  color: #1E1E1E;

}



.header-block__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  color: #121214;

}


.cards {

  padding: 120px 0 120px 0px;
}

.cards__body {

  display: flex;
  margin: 0px -15px;
}

.cards__column {
  padding: 0px 20px;
  flex: 0 1 25%;
}

.cards__item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  text-align: center;
  border: 1px solid #000000;
  box-sizing: border-box;
  height: 100%;
  padding: 48px 0px 48px 0px;
  transition: all .3s ease-in-out;

}

.cards__item >*:not(:last-child) {
  margin: 0px 0px 8px 0px;
}

.cards__item >* {
  justify-content: stretch;
  align-self: center;
}

.cards__item:hover {

  margin: -24px 0px 0px 0px;
  transition: all .3s ease-in-out;

}


.cards__icon1 {
  background: url(../image/icons/lips.svg);
}

.cards__icon2 {
  background: url(../image/icons/eyes.svg);
}

.cards__icon3 {

}

.cards__icon4 {

}

.cards__card {

  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;

}

.card__text {

font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 130%;
}





.advice__body {
  display: flex;
  margin: 0px -15px;

}

.advice__column {
  flex: 50%;
  padding: 0px 20px;


}


.item-advice {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(165, 165, 165, 0.3);
  height: 100%;
  padding: 0px 23px;

}

.item-advice:hover {
  box-shadow: 4px 4px 72px rgba(163, 163, 163, 0.3);
  transition: all 0.3s ease;
}


.item-advice__content {

  padding: 30px 30px 20px 30px;

}

.item-advice__content >*:not(:last-child) {
  margin: 0px 0px 8px 0px;  

}

.item-advice__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;

}

.item-advice__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;

}

.item-advice__image {
  width: 100%;
  height: 50px;
  object-fit: cover;
}




.media {
  margin: 40px 0px 80px 0px;
  padding: 48px 0px 48px 0px;
}

.media__body {
  display: flex;
}

.media__video {
  flex: 0 0 50%;
}

.media__video iframe {
  border-radius: 24px;
}

.media__content {
  flex: 1 1 auto;
  padding: 0px 0px 0px 30px;
}

.media__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  margin: 0px 0px 10px 0px;
}

.media__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  /* or 31px */
  
  
  /* white */
  
  color: #FFFFFF;
  margin: 0px 0px 24px 0px;
}

.items-media__contacts {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.items-media__contact {
  font-family: Roboto;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
}
.items-media__text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #6E757C;
}

.items-media__text:not(:last-child) {
  margin: 0px 0px 24px 0px;
}

.items-media__icon1 {
  background: url(../image/icons/Clover.svg);
}

.items-media__icon2 {
  background: url(../image/icons/teaaars.svg);
}

.items-media__contacts >*:first-child {
  margin: 0px 24px 0px 0px;
}



.subscribe__body {

  display: flex;
  padding: 46px 110px 46px 110px;
  align-items: center;
  background: #EDB72B;


}
.subscribe_title {

font-weight: bold;
font-size: 36px;
line-height: 130%;
}
.subscribe__form {

display: flex;
align-items: center;
flex: 0 1 50%;
}

.subscribe_input {

flex: 1 1 auto;
min-height: 58px;
padding: 0 0 0 24px;
border-radius: 24px;
background: #fff;
color: #C4C4C4;

}

.subscribe_input:hover {


  color: #ffa7a7;
  
  }

  .subscribe {
    position: relative;
    padding: 0 0 36px 0;
  }

  .subscribe::before {



  }


.subscribe__button {

  display: flex;
  min-height: 58px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #FFFFFF;
  padding: 17px 32px;
  background:#FF4370;
  transition: all 0.3s ease;

}

.subscribe__button:hover {
  background:#f77e9a;
  transition: all 0.3s ease;
}


.page__tariffs {

  background-image: url(image/Lolteka__bg.png);
}


.tariffs {
  padding: 80px 0px 0px 0px;
}

.tariffs__items {
  display: flex;
  align-items: center;
}

.tariffs__item {
  flex: 0 1 36%;
}

.item-tariffs {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding: 48px 24px 48px 24px;
}

.item-tariffs:first-child {
  flex: 0 1 32%;

}

.item-tariffs:last-child {
  flex: 0 1 32%;

}

.item-tariffs__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: #252b42;
  margin: 0px 0px 24px 0px;
}

.item-tariffs__feauture {
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 130%;
text-align: center;

color: #000000;
  margin: 0px 0px 54px 0px;
}

.item-tariffs__feauture >*:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.active {
  background: #8E3AE2;
  padding: 98px 24px 98px 24px;

}

.active >* {
  color: #ffffff;
}

.item-tariffs__button {

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 17px 32px;
width: 150px;
height: 57px;
color: #fafafa;
background: #FF4370;
border-radius: 10px;
}

/* ------------------------------Footer*/


.footer {

  background: #000;
  margin: 140px 0px 0px 0px;
}

.footer_main {
  display: flex;
  padding: 48px 0 48px 0px;
}
.footer__column {
  flex: 0 1 25%
}
.footer__label {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 44px;
  color: floralwhite;
  margin: 0px 0px 24px 0px;

}

.menu-footer {
}
.menu-footer__list {

}
.menu-footer__item:not(:last-child) {

  margin: 0px 0px 10px 0px;

}
.menu-footer__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  
  /* white */
  
  color: #FFFFFF;

}

.menu-footer__link:hover {
  border-top: 1px solid #fff;
  padding-bottom: 2px;
}







/* ------------------------------Services Adaptive*/

@media (max-width: 1071px) {
  .services__column {
    flex: 0 1 50%;
  }
  .services__column:last-child {
    flex: 0 1 100%;
  }
  .services__column:not(:last-child) {
    margin: 0px 0px 30px 0px;
  } 
}

@media (max-width: 715px) {
  .services__column {
    flex: 0 1 100%;
  }
}

@media (max-width: 955px) {


  .cards__body{
    flex-wrap: wrap;
  }

  
  .cards__column{
    flex: 0 1 50%;
    margin: 0px 0px 30px 0px;
  }

  .cards__item:hover {
    margin: 0px 0px 0px 0px;
  }

}

  @media (max-width: 665px) {
    .cards__column {
      flex: 0 1 100%;
    }
  }

    @media (max-width: 768px) {
    .header-block__title{

      font-size: 42px;

    }

  }


  @media (max-width: 1085px)

  {
    .advice__body {
      flex-wrap: wrap;
    }
    .advice__column {
      flex: 0 1 50%;
      margin: 0px 0px 30px 0px;

    }

    @media (max-width:640px) {
      .advice__column {
        flex: 0 1 50%;
      }
    }
  }


